{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style media= "screen">
        form {
            height: 520px;
            width : 400px;
        }
    </style>
</head>
<body>
{% if messages %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    window.onload = function() {
      {% for message in messages %}
        Swal.fire({
          title: "{% if message.tags == 'error' %}Error{% else %}Notification{% endif %}",
          text: "{{ message }}",
          icon: "{{ message.tags }}",  // success, error, warning, info
          confirmButtonText: "OK"
        });
      {% endfor %}
    };
  </script>
{% endif %}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>  
    <form method="post">
        <h3>Login Here</h3>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <label for="username">Username</label>
        {{ form.username }}

        <label for="password">Password</label>
        {{ form.password }}

        <button type="submit">Log In</button>

        <div style="text-align: center; margin-top: 10px;">
            <a href="{% url 'signup' %}" style="color: white;">Don't have an account?</a>
        </div>

         <!-- Forgot Password Link -->
        <div style="text-align: center; margin-top: 10px;">
            <a href="{% url 'password_reset' %}" style="color: white;">Forgot Password?</a>
        </div>
    </form>
</body>
</html>
